Python_testing/__pycache__/*
Dataframes_pandas/download_files.py
Dataframes_pandas/download_files3.py
Dataframes_pandas/download_one_image.py
Dataframes_pandas/saving_images.ipynb
Dataframes_pandas/gif1
Embdeddings_API/netflix_titles_1000.csv
.DS_Store
